<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket_mapper">
    <select id="getById" resultMap="basket_map">
        SELECT
        *
        FROM baskets b
        LEFT JOIN coupons c ON c.coup_id = b.bask_coupon_id
        LEFT JOIN users u  ON u.user_id = b.bask_user_id
        LEFT JOIN bank_cards bc ON bc.bc_number = b.bask_bank_cards_number
        LEFT JOIN roles r ON r.role_id = u.user_role_id
        LEFT JOIN baskets_and_variations ON bav bav.baskets_id = b.bask_id
        LEFT JOIN variations v ON v.var_id = bav.variations_id
        WHERE b.coup_id = #{id}
    </select>
    <select id="get" resultMap="basket_map">
        SELECT
        *
        FROM baskets b
    </select>
    <delete id="deleteById">
        DELETE FROM baskets WHERE b.coup_id = #{id}
    </delete>
    <insert id="create">
        INSERT INTO baskets(bask_totalPrice, bask_date_created, bask_date_modified, bask_coupon_id, bask_user_id, bask_bank_cards_number, bask_price_books_id)
        VALUES(#{totalPrice}, #{created}, #{modified}, ${coupon.getId()}, ${user.getId()}, ${"'"+bankCard.getNumber()+"'"}, ${priceBook.getId()})
    </insert>
    <update id="update">
        UPDATE baskets SET
        coup_enabled = #{enabled},
        coup_discountPercent = #{discountPercent},
        coup_date_created = #{created},bask_coupon_id
        coup_date_modified = #{modified},
        bask_coupon_id = ${coupon.getId()}
        bask_user_id = ${user.getId()}
        bask_bank_cards_number = ${"'"+bankCard.getNumber()+"'"}
        bask_price_books_id = ${priceBook.getId()}
    </update>
    <resultMap id="basket_map" type="com.java.automation.lab.fall.cehanovich.core22.domain.classes.Basket" autoMapping="false">
        <id property="id" column="coup_id"/>
        <result property="enabled" column="coup_enabled"/>
        <result property="discountPercent" column="coup_discountPercent"/>
        <result property="created" column="coup_date_created"/>
        <result property="modified " column="coup_date_modified"/>
        <association property="coupon" resultMap="coupon_mapper.coupon_map"/>
        <association property="user" resultMap="user_mapper.user_map"/>
        <association property="bankCard" resultMap="bank_card_mapper.bank_card_map"/>
    </resultMap>
</mapper>