<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon_mapper">
    <select id="getById" resultMap="coupon_map">
        SELECT
        *
        FROM coupons c
        WHERE
        c.coup_id = #{id}
    </select>
    <select id="get" resultMap="coupon_map">
        SELECT
        *
        FROM coupons c
    </select>
    <delete id="deleteById">
        DELETE FROM coupons WHERE c.coup_id = #{id}
    </delete>
    <insert id="create">
        INSERT INTO coupons(coup_enabled, coup_discountPercent, coup_date_created, coup_date_modified)
        VALUES(#{enabled}, #{discountPercent}, #{created}, #{modified})
    </insert>
    <update id="update">
        UPDATE coupons SET
        coup_enabled = #{enabled},
        coup_discountPercent = #{discountPercent},
        coup_date_created = #{created},
        coup_date_modified = #{modified}
    </update>
    <resultMap id="coupon_map" type="com.java.automation.lab.fall.cehanovich.core22.domain.classes.Coupon" autoMapping="false">
        <id property="id" column="coup_id"/>
        <result property="enabled" column="coup_enabled"/>
        <result property="discountPercent" column="coup_discountPercent"/>
        <result property="created" column="coup_date_created"/>
        <result property="modified " column="coup_date_modified"/>
    </resultMap>
</mapper>